<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/estilos.css">
    <title>Busca de cidade</title>
</head>
<body>
    <a href="/"><h1>Busca de cidade usando a API</h1></a>
