<%- include('partials/head') %>

<body>
    <h2>Cidades Pesquisadas</h2>
    <ul class="cidade" >
        <div class="center">
            <% for (cidadeName of cidade){%>
                <li><a class="historico" href="/busca?cidadeName=<%=cidadeName.cidade%>"><%=cidadeName.cidade%></a></li>
                 <% } %>
        </div>
    </ul>
    <a href="/">
        <p id="voltar">Voltar</p>
    </a>
</body>

<%- include('partials/footer') %>