body {
    font-family: Arial, Helvetica, sans-serif;
    background: url(../imgs/pexels-pixabay-531767.jpg) no-repeat;
    background-size: cover;
}

h1,
h2 {
    border: 2px solid #fff;
    border-radius: 20px;
    margin-bottom: 70px;
    width: 500px;
    margin: 10px ;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    background-color: #fff;
}

footer {
    margin-top: 50px;
    text-align: center;
    color: #fff;
}

.busca {
    margin: 20px;
}

.center{
    background-color: #fff;
    width: auto;
    height: auto;
    padding: 50px;
    border-radius: 10px;
    margin-top: 5rem;
}

.center input {
    width: 250px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-radius: 10px;
    padding: 10px 5px;
    font-size: 20px;
    border: #fff;
}

.center button {
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 10px;
    color: #000;
    font-size: 20px;
    cursor: pointer;
}


a {
    text-decoration: none;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

p {
    font-size: 1.2rem;
}

.historico{
    font-size: 20px;
}
.historico:hover{
    color: chocolate;
    transition: 0.2s;
}

#voltar {
    text-align: center;
    border: solid 1px #fff;
    border-radius: 10px;
    width: auto;
    padding: 1rem;
    background-color: #fff;

}

.cidade {
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;

}

.cidade div {
    border: solid 1px #fff;
    border-radius: 10px;
    padding: 3rem;
    background-color: #fff;
}

.cidade li{
    list-style: none;
    margin-bottom: 5px;
    font-size: 20px;
}
